<%= form_with url: admin_procedure_groupe_instructeur_contact_information_path(@procedure, @groupe_instructeur), model: @contact_information, local: true do |f| %>
  <%= render "shared/groupe_instructeurs/contact_information_fields", f: f %>

  <div class="fixed-footer">
    <div class="fr-container">
      <ul class="fr-btns-group fr-btns-group--inline-md">
        <li><%= f.submit "Enregistrer", class: "fr-btn" %></li>

        <li>
          <%= link_to "Annuler", admin_procedure_groupe_instructeur_path(@procedure, @groupe_instructeur), class: "fr-btn fr-btn--secondary" %>
        </li>

        <% if ["edit", "update"].include?(params[:action]) %>
          <li>
            <%= link_to 'Supprimer',
              admin_procedure_groupe_instructeur_contact_information_path(@procedure, @groupe_instructeur),
              method: :delete,
              data: { confirm: "Confirmez vous la suppression de ces informations de contact ?" },
              class: 'fr-btn fr-btn--secondary' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
