- content_for(:title, 'Groupes')
%h1.fr-h2 Gestion des groupes

= render Procedure::ImportComponent.new(procedure: @procedure)

%button.fr-btn.fr-btn--primary.fr-icon-add-line.fr-btn--icon-left.fr-mb-3w{ 'aria-controls': 'modal-add-groupe', 'data-fr-opened': 'false' }
  = t('.add_groupe_modal.title')

%dialog#modal-add-groupe.fr-modal{ aria: { labelledby: 'fr-modal-title-add-groupe' }, role: 'dialog' }
  .fr-container.fr-container--fluid.fr-container-md
    .fr-grid-row.fr-grid-row--center
      .fr-col-12.fr-col-md-8.fr-col-lg-6
        .fr-modal__body
          .fr-modal__header
            %button.fr-btn--close.fr-btn{ aria: { controls: 'modal-add-groupe' }, title: t('utils.modal_close_alt') }= t('utils.modal_close')
          .fr-modal__content
            %h1#fr-modal-title-add-groupe.fr-modal__title
              %span.fr-icon-add-line.fr-icon--lg
              = t('.add_groupe_modal.title')
            = form_for :groupe_instructeur, url: admin_procedure_groupe_instructeurs_path(@procedure), method: :post, data: { controller: 'enable-submit-if-filled', action: 'input->enable-submit-if-filled#fill' } do |f|
              .fr-input-group.fr-mb-3w
                = f.label :label, t('.add_groupe_modal.label'), class: 'fr-label'
                = f.text_field :label, required: true, class: 'fr-input fr-mt-1w', placeholder: t('.add_groupe_modal.placeholder'), data: { 'enable-submit-if-filled-target': 'input' }
              .fr-modal__footer.fr-p-0.fr-m-0
                %ul.fr-btns-group.fr-btns-group--inline-sm
                  %li
                    %button.fr-btn.fr-btn--secondary{ type: 'button', aria: { controls: 'modal-add-groupe' } }= t('.add_groupe_modal.cancel')
                  %li
                    = f.button t('.add_groupe_modal.submit'), class: 'fr-btn', disabled: true, data: { 'enable-submit-if-filled-target': 'submit' }

= render Procedure::GroupesSearchComponent.new(procedure: @procedure,
  query: @query,
  to_configure_count: @procedure.groupe_instructeurs.filter(&:routing_to_configure?).count,
  to_configure_filter: @to_configure_filter)

.flex.justify-between.align-baseline
  .title.fr-text--bold= table_header
  = render Dropdown::MenuComponent.new(wrapper: :div, button_options: { class: ['fr-btn--tertiary', 'fr-btn--icon-left', 'fr-icon-download-line'] }, menu_options: { class: ['dropdown-menu-simple'] }) do |menu|
    - menu.with_button_inner_html do
      = t('.export_dropdown.title')
    - menu.with_item do
      = link_to export_groupe_instructeurs_admin_procedure_groupe_instructeurs_path(@procedure, format: :csv), role: 'menuitem', class: 'fr-link' do
        = t('.export_dropdown.export_instructeurs')
    - menu.with_item do
      = link_to export_contact_informations_admin_procedure_groupe_instructeurs_path(@procedure, format: :csv), role: 'menuitem', class: 'fr-link' do
        = t('.export_dropdown.export_contact_informations')

.fr-table.fr-table--no-caption.fr-table--layout-fixed.fr-mt-2w
  .fr-table__wrapper
    .fr-table__container
      .fr-table__content
        %table
          %caption= table_header
          %thead
            %tr
              %th{ scope: 'col', class: any_custom_contact_information? ? 'fr-col-6' : 'fr-col-9' }
                Groupes
              - if any_custom_contact_information?
                %th.fr-col-3{ scope: 'col' }
                  = t('.table.contact_informations')
              %th.fr-col-1{ scope: 'col' }
                Dossiers
              %th.fr-col-2.fr-cell--right{ scope: 'col' }
                Instructeurs
          %tbody
            - @groupe_instructeurs.each do |gi|
              %tr
                %td.fr-cell--multiline{ scope: 'col' }
                  = link_to admin_procedure_groupe_instructeur_path(@procedure, gi), class: 'fr-link' do
                    %span= gi.label
                  %p= gi.routing_rule&.to_s(@procedure.active_revision.types_de_champ)
                  - if gi.closed
                    %p.fr-badge.fr-badge--info.fr-badge--sm.fr-mt-1w inactif
                  - elsif gi.routing_rule.nil?
                    %p.fr-badge.fr-badge--warning.fr-badge--sm.fr-mt-1w aucune règle
                  - elsif gi.invalid_rule?
                    %p.fr-badge.fr-badge--warning.fr-badge--sm.fr-mt-1w règle invalide
                  - elsif gi.non_unique_rule?
                    %p.fr-badge.fr-badge--warning.fr-badge--sm.fr-mt-1w règle déjà attribuée à #{gi.groups_with_same_rule}

                - if any_custom_contact_information?
                  %td{ scope: 'col' }
                    - if gi.contact_information.present?
                      %p.fr-badge.fr-badge--success.fr-badge--sm= t('.table.custom').upcase
                    - else
                      %p.fr-badge.fr-badge--sm.fr-badge--no-icon= t('.table.not_custom').upcase

                %td{ scope: 'col' }
                  %span.fr-mr-1w
                    #{gi.dossiers.visible_by_administration.size}
                  %span.fr-icon.fr-icon-folder-2-line.fr-mr-2w{ style: 'width: 25px; text-align: center;' }
                %td.fr-cell--right{ scope: 'col' }
                  %span.fr-mr-1w
                    #{gi.instructeurs.count}
                  %span.fr-icon.fr-icon-user-line{ style: 'width: 25px; text-align: center;' }

  .fr-mt-1w
    = helpers.paginate @groupe_instructeurs

= form_for @procedure,
  method: :patch,
  url: admin_procedure_update_defaut_groupe_instructeur_path,
  class: 'fr-my-3w',
  data: { controller: 'autosubmit', turbo: 'true' } do
  = label_tag :defaut_groupe_instructeur_id, 'Et si aucune règle ne correspond, router vers :', class: 'fr-label'
  = select_tag :defaut_groupe_instructeur_id,
    options_for_select(@procedure.groupe_instructeurs.pluck(:label, :id), selected: @procedure.defaut_groupe_instructeur.id),
    class: 'fr-select'

%h2.fr-h3.fr-mt-6w= t('.bulk_assignment.title')

.fr-alert.fr-icon-mail-line.fr-mb-3w= t('.bulk_assignment.notification_alert_html')

.fr-tabs
  %ul.fr-tabs__list.fr-ml-2w{ role: 'tablist' }
    %li{ role: 'presentation' }
      %button#tab-bulk-add.fr-tabs__tab.fr-icon-add-line.fr-tabs__tab--icon-left{ role: 'tab', 'aria-selected': 'true', 'aria-controls': 'panel-bulk-add', tabindex: '0' }
        = t('.bulk_assignment.tab_add')
    %li{ role: 'presentation' }
      %button#tab-bulk-remove.fr-tabs__tab.fr-icon-subtract-line.fr-tabs__tab--icon-left{ role: 'tab', 'aria-selected': 'false', 'aria-controls': 'panel-bulk-remove', tabindex: '-1' }
        = t('.bulk_assignment.tab_remove')

  #panel-bulk-add.fr-tabs__panel.fr-tabs__panel--selected{ role: 'tabpanel', 'aria-labelledby': 'tab-bulk-add' }
    %h3.fr-h5= t('.bulk_assignment.add_title')
    = render Procedure::InvitationWithTypoComponent.new(maybe_typos: @maybe_typos, url: add_instructeur_to_all_groupes_admin_procedure_groupe_instructeurs_path(@procedure), title: t('.bulk_assignment.typo_confirm_title'))
    = form_tag add_instructeur_to_all_groupes_admin_procedure_groupe_instructeurs_path(@procedure),
      method: :post,
      class: 'form',
      data: { controller: 'enable-submit-if-filled' } do
      .instructeur-wrapper{ data: { action: 'change->enable-submit-if-filled#fillCombobox' } }
        %p.fr-mb-1w= t('views.shared.groupe_instructeurs.instructeur_emails')
        %p.fr-hint-text= t('views.shared.groupe_instructeurs.copy_paste_hint')
        %react-fragment
          = render ReactComponent.new 'ComboBox/MultiComboBox',
            items: @available_instructeur_emails,
            id: 'bulk_add_instructeur_emails',
            name: 'emails[]',
            allows_custom_value: true,
            'aria-label': 'Emails',
            data: { 'enable-submit-if-filled-target': 'input' }
        = button_tag t('.bulk_assignment.add_submit'),
          type: :submit,
          class: 'fr-btn fr-btn--primary fr-icon-add-line fr-btn--icon-left',
          disabled: true,
          data: { 'enable-submit-if-filled-target': 'submit', confirm: t('.bulk_assignment.confirm_add_message') }

  #panel-bulk-remove.fr-tabs__panel{ role: 'tabpanel', 'aria-labelledby': 'tab-bulk-remove' }
    %h3.fr-h5= t('.bulk_assignment.remove_title')
    = form_tag remove_instructeur_from_all_groupes_admin_procedure_groupe_instructeurs_path(@procedure),
      method: :delete,
      class: 'form',
      data: { controller: 'enable-submit-if-filled' } do
      .instructeur-wrapper{ data: { action: 'change->enable-submit-if-filled#fillCombobox' } }
        %p.fr-mb-1w= t('views.shared.groupe_instructeurs.instructeur_emails')
        %p.fr-hint-text= t('views.shared.groupe_instructeurs.copy_paste_hint')
        %react-fragment
          = render ReactComponent.new 'ComboBox/MultiComboBox',
            items: @procedure.instructeurs.map(&:email).sort,
            id: 'bulk_remove_instructeur_emails',
            name: 'emails[]',
            allows_custom_value: true,
            'aria-label': 'Emails',
            data: { 'enable-submit-if-filled-target': 'input' }
        = button_tag t('.bulk_assignment.remove_submit'),
          type: :submit,
          class: 'fr-btn fr-btn--primary fr-icon-subtract-line fr-btn--icon-left',
          disabled: true,
          data: { 'enable-submit-if-filled-target': 'submit', confirm: t('.bulk_assignment.confirm_remove_message') }

- if flash[:routing_mode] == 'custom'
  = render partial: 'custom_routing_modal'
- elsif flash[:routing_mode] == 'simple'
  = render partial: 'simple_routing_modal', locals: { procedure: @procedure }
