<div class="autosave" data-controller="autosave-status">
  <p
    class="autosave-status fr-info-text fr-text--sm fr-m-0"
    data-autosave-status-target="idle"
  >
    <%= t(".#{context}.explanation") %>
  </p>

  <p
    class="autosave-status succeeded fr-valid-text fr-text--sm fr-m-0 fr-hidden"
    data-autosave-status-target="succeeded"
  >
    <%= t(".#{context}.confirmation_html") %>
  </p>

  <p
    class="autosave-status failed fr-error-text fr-text--sm fr-m-0 fr-hidden"
    tabindex="-1"
    role="alert"
    data-autosave-status-target="failed"
  ></p>

  <template data-autosave-status-target="serverErrorTemplate">
    <%= t(".#{context}.error_server_html", contact_path:) %>
    <small class="fr-text-mention--grey" data-error-id data-error-format="<%= t('.error_code_format') %>"></small>
  </template>

  <template data-autosave-status-target="authErrorTemplate">
    <%= t(".#{context}.error_auth_html", sign_in_path: request.path) %>
  </template>

  <template data-autosave-status-target="networkErrorTemplate">
    <%= t(".#{context}.error_network_html") %>
  </template>
</div>
