.fr-mt-3w{ id: dom_id(attachment, :persisted_row), data: { attachment_row: true } }
  - if attachment.virus_scanner_error?
    %p.fr-error-text= error_message

  %div{ class: class_names("attachment-error": attachment.virus_scanner_error?) }
    - if downloadable?
      = render Dsfr::DownloadComponent.new(attachment:)
    - else
      %p.fr-mb-2v.attachment-filename= link_to_if(viewable?, attachment.filename.to_s, helpers.url_for(attachment.blob), title: t(".open_file", filename: attachment.filename), **helpers.external_link_attributes)

      = render Attachment::ProgressComponent.new(attachment:, ignore_antivirus: true, ignore_watermark: true)

    - if user_can_destroy?
      %p.fr-mb-0
        = render NestedForms::OwnedButtonComponent.new(formaction: destroy_attachment_path, http_method: :delete, opt: {class: "fr-btn fr-btn--tertiary fr-btn--sm", title: t(".delete_file_title", filename: attachment.filename)}) do
          %span.fr-icon--sm.fr-icon-delete-line.fr-mr-1w
          = t('.delete_file')
          %span.fr-sr-only= t('.file_name', filename: attachment.filename)
