- content_for(:title, "#{@subject}")

%p= t(:hello, scope: [:views, :shared, :greetings])

%p
  - if @state == Dossier.states.fetch(:en_construction)
    = t('.header_en_construction', count: @dossiers.size, expiration_date: human_date(@expiration_date.to_date))
  - else
    = t('.header_termine', count: @dossiers.size, expiration_date: human_date(@expiration_date.to_date))
  %ul
    - @dossiers.each do |d|
      %li
        = t('.list', count: @dossiers.size, dossier_id: d.id, libelle: d.procedure.libelle)
        - if @dossiers.many?
          = "#{d.mandataire_first_name} #{d.mandataire_last_name} (#{mail_to(d.user_email_for(:notification))})."

%p
  = t('.more_information', count: @dossiers.size)
  - if @dossiers.one?
    - d = @dossiers.first
    = "#{d.mandataire_first_name} #{d.mandataire_last_name} (#{mail_to(d.user_email_for(:notification))})."

= render partial: "layouts/mailers/signature"
