- content_for :procedure_logo do
  = render 'layouts/mailers/logo', url: @logo_url

%p= t(:hello, scope: [:views, :shared, :greetings])

- if @dossier.brouillon?
  %p= t('.body_draft_html', libelle_demarche: @dossier.procedure.libelle)
  %p.darkmode-3{ style: "padding: 8px; color: #3A3A3A; background-color: #F5F5FE; font-size: 14px;" }
    = @body
  - if @service&.email.present?
    %p= t('.contact_html', email: @service.email)
  - else
    %p= t('.contact_no_email')
  = dsfr_button(t('.access_file'), dossier_url(@dossier), :primary)
- else
  %p= t('.body_html', libelle_demarche: @dossier.procedure.libelle)
  %p= t('.link')
  = dsfr_button(t('.access_message'), messagerie_dossier_url(@dossier), :primary)

= render 'layouts/mailers/signature', service: @service

- content_for :footer do
  = render 'layouts/mailers/service_footer', dossier: @dossier

- content_for :sent_to do
  = render 'layouts/mailers/sent_to', dossier: @dossier
