<p class="fr-hint-text fr-mb-1w" id="<%= @html_id %>">
  <%- if show_identity_hint? -%>
    <%= t('.identity_hint') %>
    <br>
  <%- end -%>

  <%- if max_file_size.present? -%>
    <%= t('.max_file_size', max_file_size: number_to_human_size(max_file_size)) %>
  <%- end -%>

  <%- if show_format_families? -%>
    <%= " – " %>
    <%= t('.allowed_formats', formats: formats_accepted_text) %>
    <button
      class="
        fr-btn--tooltip fr-icon-question-line fr-btn--sm
        fr-btn--tertiary-no-outline fr-p-0 fr-ml-1v
      "
      type="button"
      aria-describedby="<%= tooltip_id %>"
      aria-label="<%= t('.formats_tooltip_label') %>"
    ></button>
    <span
      class="fr-tooltip fr-placement"
      id="<%= tooltip_id %>"
      role="tooltip"
      aria-hidden="true"
    >
      <%- format_families_info.each do |family| -%>
        <%= t('.format_category_line', category: family[:label].capitalize, extensions: "#{family[:all_formats]}...") %>
        <br>
      <%- end -%>
    </span>
  <%- elsif show_exhaustive_formats? -%>
    <%= " – " %>
    <%= t('.allowed_formats', formats: exhaustive_formats) %>
  <%- end -%>
</p>
