.fr-translate.fr-nav
  .fr-nav__item.fr-nav__item--align-right.edit-identity-action
    %button.fr-py-1w.fr-btn.fr-translate__btn.help-btn{ "aria-controls" => "identity", "aria-expanded" => "false" }
      - if dossier.for_tiers?
        = t("views.shared.dossiers.demande.requester_identity")
      - else
        = t("views.shared.dossiers.demande.individual_identity")

    #identity.fr-collapse.fr-menu
      .fr-menu__list.dossier-show.edit-identity-content
        - if dossier.procedure.for_individual
          %dl.fr-pl-0
            = render partial: "shared/dossiers/identite_individual", locals: { dossier: dossier }

          = link_to t('views.shared.dossiers.demande.edit_identity'), identite_dossier_path(dossier), class: 'fr-btn fr-btn--secondary fr-btn--sm fr-my-1w'

        - elsif dossier.etablissement
          = render Dossiers::ShortIdentiteEntrepriseComponent.new(etablissement: dossier.etablissement)

          = link_to t('views.shared.dossiers.demande.edit_siret'), siret_dossier_path(dossier), class: 'fr-btn fr-btn--secondary fr-btn--sm fr-my-1w'
