- if for_preview?
  .fr-fieldset
    .fr-fieldset__legend--regular.fr-fieldset__legend= t('.admin.scenario_question')
    .fr-fieldset__element.fr-fieldset__element--inline
      .fr-radio-group.fr-radio-rich
        = @form.radio_button :preview_state, 'fetched_preview', id: "#{@champ.stable_id}_fetched", aria: labelledby_id_attr(input_label_id(@champ, :fetched))
        %label.fr-label{ for: "#{@champ.stable_id}_fetched", id: input_label_id(@champ, :fetched) }
          = t('.admin.qf_data_fetched')

    .fr-fieldset__element.fr-fieldset__element--inline
      .fr-radio-group.fr-radio-rich
        = @form.radio_button :preview_state, 'not_fetched_preview', id: "#{@champ.stable_id}_not_fetched", aria: labelledby_id_attr(input_label_id(@champ, :not_fetched))
        %label.fr-label{ for: "#{@champ.stable_id}_not_fetched", id: input_label_id(@champ, :not_fetched) }
          = t('.admin.qf_data_not_fetched')

- if render_external_champ?
  - if for_preview?
    %p= t('.admin.preview_simulation')

  .fr-mb-2w
    = render QuotientFamilial::QuotientFamilialComponent.new(qf_data:, with_header: true)

  .fr-fieldset
    .fr-fieldset__legend--regular.fr-fieldset__legend
      = t('.external_champ.confirmation.question')
      = render EditableChamp::AsteriskMandatoryComponent.new
    .fr-fieldset__element.fr-fieldset__element--inline
      .fr-radio-group
        = @form.radio_button :value, true, id: "#{@champ.stable_id}_correct", aria: labelledby_id_attr(input_label_id(@champ, :correct))
        %label.fr-label{ for: "#{@champ.stable_id}_correct", id: input_label_id(@champ, :correct) }
          = t('.external_champ.confirmation.true')

    .fr-fieldset__element.fr-fieldset__element--inline
      .fr-radio-group
        = @form.radio_button :value, false, id: "#{@champ.stable_id}_incorrect", aria: labelledby_id_attr(input_label_id(@champ, :incorrect))
        %label.fr-label{ for: "#{@champ.stable_id}_incorrect", id: input_label_id(@champ, :incorrect) }
          = t('.external_champ.confirmation.false')

  - if render_data_incorrect_callout?
    .fr-callout.fr-callout--yellow-moutarde
      .fr-callout__text
        = t('.external_champ.incorrect_qf_data')

- if render_piece_justificative_champ?
  - if @champ.external_error?
    = render Dsfr::NoticeComponent.new(closable: false, data_attributes: { "data-notice-name" => "donnees-qf-non-trouvees", class: 'fr-mb-1w'}) do |c|
      - c.with_title do
        = t('.piece_justificative_champ.data_not_found')
  = t('.piece_justificative_champ.libelle')
  = render EditableChamp::AsteriskMandatoryComponent.new
  = render Attachment::FileFieldComponent.new(context: Attachment::Context.new(champ: @champ, form_object_name: @form.object_name, aria_labelledby: labelledby_id), max: 1, drop_zone: :integrated)
