<fieldset
  class="<%= class_names("fr-fieldset": true, "fr-fieldset--error": error?) %>"
  aria-labelledby="<%= legend_id %> <%= messages_id %>"
  <% if disabled? %>
    disabled="disabled"
  <% end %>
  <% if error? %>
    role="group"
  <% end %>
>
  <legend
    class="<%= class_names("fr-fieldset__legend" => true, "fr-fieldset__legend--regular" => @regular_legend) %>"
    id="<%= legend_id %>"
  >
    <%= content %>
  </legend>

  <% each_button do |label, value, hint, tooltip, **button_options| %>
    <div class="fr-fieldset__element<%= " fr-fieldset__element--inline" if @inline %>">
      <div class="fr-radio-group">
        <%= @form.radio_button @target, value, **button_options.except(:index) %>

        <% label_content = capture do %>
          <%= label %>
          <%= button_options[:after_label] if button_options[:after_label] %>

          <% if hint.present? %>
            <div class="flex">
              <div class="fr-hint-text"><%= hint %></div>

              <% if tooltip.present? && button_options[:index] %>
                <div
                  class="fr-icon-information-line fr-icon--sm ml-1"
                  aria-describedby="tooltip-<%= button_options[:index] %>"
                ></div>
                <span
                  class="fr-tooltip fr-placement"
                  id="tooltip-<%= button_options[:index] %>"
                  role="tooltip"
                  aria-hidden="true"
                >
                  <%= tooltip %>
                </span>
              <% end %>
            </div>
          <% end %>
        <% end %>

        <%= @form.label @target, label_content, value: value, class: 'fr-label', **label_options(button_options) %>
      </div>
    </div>
  <% end %>

  <div class="fr-messages-group" id="<%= messages_id %>" aria-live="polite">
    <% if error? %>
      <p class="fr-message fr-message--error"><%= error %></p>
    <% end %>
  </div>
</fieldset>
