%p= t(:hello, scope: [:views, :shared, :greetings])

- if @still_assigned_to_procedure
  %p= t(".email_body.assigned", count: @removed_from_groupes.count, email: @current_instructeur_email, procedure: @procedure.libelle, groupe: @removed_from_groupes.first.label)
  - if @removed_from_groupes.many?
    %ul
      - @removed_from_groupes.each do |groupe|
        %li= groupe.label
- else
  %p= t(".email_body.unassigned", email: @current_instructeur_email, procedure: @procedure.libelle)

= render partial: "layouts/mailers/signature"
