.attachment-multiple{ class: class_names("fr-downloads-group": view_as == :download, "destroyable": user_can_destroy?) }
  = template

  - if show_hint?
    = render hints_component

  - if @attachments.size >= 1
    %ul.fr-my-1v
      - each_attachment do |attachment, index|
        %li{ id: dom_id(attachment) }
          = render Attachment::EditComponent.new(champ:, attached_file:, attachment:, index:, view_as:, user_can_destroy:, form_object_name:, aria_labelledby:, parent_hint_id: describedby_hint_id)


  %div{ id: empty_component_id, data: { turbo_force: :server } }
    = render drag_drop_uploader_component

  = render Attachment::ErrorWrapperComponent.new(with_top_margin: false)

  - if @attachments.size >= 1
    %ul.fr-my-1v.attachment-files-list
      - each_attachment do |attachment, index|
        %li{ id: dom_id(attachment) }
          = render Attachment::AttachmentRowComponent.new(attachment:, context:)
