<div class="fr-p-3w fr-mt-1w external-champ <%= untrusted ? 'fr-background-alt--grey' : 'trusted-data' %>">
  <% if source.present? %>
    <span
      class="
        source pull-right fr-tag fr-fi-information-line fr-tag--icon-left
        fr-tag--sm fr-text--regular
      "
    >
      Source\u00A0:\u00A0<%= source %>
    </span>
  <% end %>

  <% if header.present? %>
    <%= header %>
  <% end %>

  <% if data.present? %>
    <dl>
      <% data.each do |label, value, opts = {}| %>
        <div class="champ-row">
          <dt class="champ-label <%= class_names('no_colon': value.is_a?(Hash)) %>">
            <%= label %>
          </dt>

          <% if value.is_a?(Hash) %>
            <dd></dd>
            <dl class="sub_list fr-pl-1w fr-mb-1w">
              <% value.each do |l, v, o = {}| %>
                <div class="flex">
                  <dt class="champ-label fr-mr-1v"><%= l %></dt>

                  <dd
                    class="champ-content fr-pb-0 <%= class_names('copy-zone': o.fetch(:copy, true)) %>"
                    data-to-copy="<%= o.fetch(:data_to_copy, nil) %>"
                  >
                    <%= v %>
                    <span data-copy-message-placeholder="true"></span>
                  </dd>
                </div>
              <% end %>
            </dl>
          <% else %>
            <dd
              class="champ-content <%= class_names('copy-zone': opts.fetch(:copy, true)) %>"
              data-to-copy="<%= opts.fetch(:data_to_copy, nil) %>"
            >
              <%= value %>
              <span data-copy-message-placeholder="true"></span>
            </dd>
          <% end %>
        </div>
      <% end %>
    </dl>
    <% if details.present? %>
      <details>
        <summary
          class="
            fr-btn fr-btn--tertiary-no-outline fr-icon-arrow-down-s-line
            fr-btn--icon-right fr-btn--sm
          "
        >
          <span class="more-information"><%= t('.more_information') %></span>
          <span class="less-information"><%= t('.less_information') %></span>
        </summary>

        <dl>
          <% details.each do |label, value, opts = {}| %>
            <div class="champ-row">
              <dt class="champ-label"><%= label %></dt>

              <dd
                class="champ-content <%= class_names('copy-zone': opts.fetch(:copy, true)) %>"
                data-to-copy="<%= opts.fetch(:data_to_copy, nil) %>"
              >
                <%= value %>
                <span data-copy-message-placeholder="true"></span>
              </dd>
            </div>
          <% end %>
        </dl>

        <% if details_footer.present? %>
          <div class="champ-row"><%= render(details_footer) %></div>
        <% end %>
      </details>
    <% end %>
  <% end %>
</div>
