<% if llm_rule_suggestion.completed? %>
  <%= render Dsfr::CalloutComponent.new(title: t('.summary.title'), theme: :info) do |callout| %>
    <% callout.with_html_body do %>
      <%= t(".summary.#{rule}_html") %>
    <% end %>
  <% end %>
  <% if suggestions_count.zero? %>
    <%= render Dsfr::AlertComponent.new(state: :success) do |component| %>
      <% component.with_body do %>
        <p>
          🎉 <strong>Félicitations</strong>, nous n’avons aucune suggestion
          pertinente à proposer sur ce thème, ce qui signifie probablement que
          votre formulaire est déjà de qualité!
        </p>

        <%= form_for llm_rule_suggestion,
                      url: accept_simplification_admin_procedure_types_de_champ_path(procedure, llm_rule_suggestion),
                      method: :post do |form| %>
          <p class="fr-mt-1w">
            <%= form.submit("Passer à la suite", class: "fr-btn") %>
          </p>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <%= form_for llm_rule_suggestion,
                    url: accept_simplification_admin_procedure_types_de_champ_path(procedure, llm_rule_suggestion),
                    method: :post,
                    data: { controller: "enable-submit-if-checked" }, html: { class: 'llm-rule-suggestion-form' } do |form| %>
      <div class="border-background-contrast-grey fr-p-2w">
        <p class="fr-mb-3w flex align-center">
          <span class="fr-badge fr-badge--info fr-mr-1w">
            <%= suggestions_count %>
            <%= 'suggestion'.pluralize(suggestions_count) %>
          </span>

          <span class="fr-hint-text">
            Ces suggestions utilisent l’IA. Vérifiez toujours ce qui est
            proposé.
          </span>
        </p>

        <fieldset
          class="fr-fieldset fr-mb-0"
          data-action="click->enable-submit-if-checked#click"
        >
          <legend class="fr-fieldset__legend">
            Sélectionnez les suggestions que vous souhaitez appliquer pour
            améliorer votre formulaire :
          </legend>

          <% ordered_llm_rule_suggestion_items.each do |llm_rule_suggestion_item| %>
            <%= form.fields_for :llm_rule_suggestion_items, llm_rule_suggestion_item do |ff| %>
              <%= render item_component.new(form_builder: ff) %>
            <% end %>
          <% end %>
        </fieldset>
      </div>

      <ul class="fr-btns-group fr-btns-group--inline-md mt-4 flex justify-center">
        <li>
          <% if last_rule? %>
            <%= link_to("Ignorer et revenir à l’écran de gestion", back_link, class: "fr-btn fr-btn--secondary") %>
          <% else %>
            <%= form.submit("Ignorer cette étape", class: "fr-btn fr-btn--secondary") %>
          <% end %>
        </li>

        <li>
          <%= form.submit("Appliquer les suggestions et poursuivre", class: "fr-btn", data: { 'enable-submit-if-checked-target': 'submit' }, disabled: !at_least_one_accepted?) %>
        </li>
      </ul>
    <% end %>
  <% end %>
<% elsif stepper_finished? %>
  <%= render Dsfr::AlertComponent.new(state: :success) do |component| %>
    <% component.with_body do %>
      <p>
        <strong>Ce parcours d’amélioration de la qualité du formulaire est terminé.</strong>
        Vous pourrez obtenir de nouvelles suggestions en recommençant le
        parcours.
      </p>

      <p class="fr-mt-1w">
        <%= link_to("Recommencer le parcours", restart_link, class: "fr-btn") %>
      </p>
    <% end %>
  <% end %>
<% elsif llm_rule_suggestion.state.in?(['pending', 'queued', 'running', 'failed']) %>
  <div
    data-controller="<%= poll_controller_data %>"
    data-turbo-poll-url-value="<%= poll_url if should_poll? %>"
    data-turbo-poll-interval-value="4000"
    <%# max attempts is hardcoded to 20 %>
    data-turbo-poll-strategy-value="fixed"
  >
    <%= display_message %>

    <% if llm_rule_suggestion.state.in?(['running', 'queued']) %>
      <%= render Dsfr::ProgressBarComponent.new(simulated: true, id: llm_rule_suggestion.id) do %>
        <%= enqueue_button_text %>
      <% end %>
    <% else %>
      <p><%= button %></p>
    <% end %>
  </div>
<% elsif llm_rule_suggestion.state.in?(['accepted', 'skipped']) %>
  <p>
    Vous avez déjà <%= llm_rule_suggestion.accepted? ? "accepté" : "ignoré" %>
    des suggestions
  </p>
  <p class="fr-mt-1w">
    <% if last_rule? %>
      <%= link_to("Revenir à l’écran de gestion", back_link, class: "fr-link") %>
    <% else %>
      <%= link_to("Poursuivre le parcours d’amélioration", next_link, class: "fr-link") %>
    <% end %>
  </p>
<% end %>
