<div class="pj-editor flex column">
  <div class="header fr-py-2w">
    <div class="fr-container">
      <%= link_to " #{t('views.shared.actions.back_to_file')}",
        instructeur_dossier_path(@dossier.procedure, @dossier),
        class: 'fr-link fr-icon-arrow-left-line fr-link--icon--left fr-icon--sm' %>

      <h1 class="fr-h3 fr-my-2w"><%= t('.change_attachment_data') %></h1>

      <p class="fr-m-0 fr-text--bold">
        <%= t('show_dossier', scope: [:layouts, :breadcrumb], dossier_id: @dossier.id, owner_name: @dossier.owner_name) %>
        <br>
        <%= @dossier.procedure.libelle %>
      </p>
    </div>
  </div>

  <div class="fr-container flex-grow flex fr-py-2w">
    <div class="fr-col flex column fr-pr-2w width-50">
      <p><%= @champ.libelle %></p>

      <embed
        src="<%= @champ.piece_justificative_file.blobs.first.url %>"
        type="application/pdf"
        scrolling="auto"
        class="border-background-contrast-grey"
      >
    </div>

    <div class="fr-col fr-pl-2w">
      <p><%= t('.attachment_data') %></p>

      <%= form_with model: RIB.new(@champ.value_json&.dig('rib')),
        url: instructeurs_dossier_champ_path(@champ.dossier_id, @champ.public_id), 
        method: :patch,
        html: { id: 'attachment-data-form', class: 'border-background-contrast-grey fr-p-2w' } do |f| %>
        <div class="fr-input-group">
          <%# i18n-tasks-use t("activemodel.attributes.rib.account_holder") %>
          <%= f.label :account_holder, class: 'fr-label' %>
          <%= f.text_area :account_holder, class: 'fr-input', rows: 4 %>
        </div>

        <% [:iban, :bic, :bank_name].each do |field| %>
          <div class="fr-input-group">
            <%# i18n-tasks-use t("activemodel.attributes.rib.#{field}") %>
            <%= f.label field, class: 'fr-label' %>
            <%= f.text_field field, class: 'fr-input' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="fr-pt-2w footer">
    <div class="fr-container">
      <ul
        class="
          fr-btns-group fr-btns-group--center fr-btns-group--inline
          fr-btns-group--inline-lg
        "
      >
        <li>
          <%= link_to t('views.shared.actions.cancel'), instructeur_dossier_path(@dossier.procedure, @dossier), class: 'fr-btn fr-btn--secondary' %>
        </li>

        <li>
          <button class="fr-btn" type="submit" form="attachment-data-form">
            <%= t('views.shared.actions.save_modifications') %>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
