<% if !commentaire.sent_by?(connected_user) %>
  <div class="icon-avatar <%= commentaire_class(commentaire, connected_user) %>">
    <%= icon %>
  </div>
<% end %>

<div class="width-100 fr-p-2w <%= commentaire_class(commentaire, connected_user) %>">
  <%= tag.send(heading_level, class: 'fr-h6 fr-mb-1w') do %>
    <span class="mail"><%= commentaire_issuer %></span>

    <% if commentaire_from_guest? %>
      <span class="fr-text--xs fr-text-mention--grey fr-text--regular">
        <%= t('.guest') %>
      </span>
    <% end %>
  <% end %>

  <% if badge = correction_badge %>
    <div class="fr-mt-1v fr-mb-1w"><%= badge %></div>
  <% end %>

  <% if badge = response_badge %>
    <div class="fr-mt-1v fr-mb-1w"><%= badge %></div>
  <% end %>

  <div class="rich-text">
    <% if commentaire.discarded? %>
      <p>(<%= t('.deleted_body') %>)</p>
    <% elsif commentaire.sent_by_system? %>
      <%= sanitize(commentaire.body, scrubber: Sanitizers::MailScrubber.new) %>
    <% else %>
      <%= render SimpleFormatComponent.new(commentaire.body, allow_a: false, allow_autolink: groupe_gestionnaire.nil? && commentaire.sent_by_instructeur?) %>
    <% end %>
  </div>

  <% if show_cancel_correction_button? %>
    <%= button_to cancel_correction_url, method: :post, class: 'fr-btn fr-btn--sm fr-btn--tertiary fr-icon-close-line fr-btn--icon-left fr-text-default--warning fr-mb-1w', form: { data: { turbo: true, turbo_confirm: t('.confirm_cancel_correction') } } do %>
      <%= t('.cancel_correction_button') %>
    <% end %>
  <% end %>

  <% if show_delete_button? %>
    <%= button_to delete_url, method: :delete, class: 'fr-btn fr-btn--sm fr-btn--tertiary fr-icon-delete-line fr-btn--icon-left fr-text-default--warning fr-mb-1w', form: { data: { turbo: true, turbo_confirm: t('.confirm') } } do %>
      <%= delete_button_text %>
    <% end %>
  <% end %>

  <% if groupe_gestionnaire.nil? && show_attachments? %>
    <div class="fr-mt-2w">
      <% commentaire.piece_jointe.each do |attachment| %>
        <%= render Attachment::ShowComponent.new(attachment: attachment, new_tab: true) %>
      <% end %>
    </div>
  <% end %>

  <div class="fr-mt-1v flex align-center flex-gap-1 justify-between">
    <span
      class="date fr-mb-0 fr-text--xs fr-text-mention--grey fr-text--regular"
      data="<%= scroll_to_target %>"
    >
      <%= commentaire_date %>
    </span>

    <% if sent_by_connected_user? %>
      <% if read_by_recipient? %>
        <div class="flex align-center">
          <%= dsfr_icon('fr-icon-check-line fr-icon--sm fr-mr-1w') %>

          <span class="fr-text--xs fr-text-mention--grey fr-text--regular fr-mb-0">
            <%= t('.read_label') %>
          </span>
        </div>
      <% else %>
        <span class="fr-text--xs fr-text-mention--grey fr-text--regular fr-mb-0">
          <%= t('.unread_label') %>
        </span>
      <% end %>
    <% end %>
  </div>

  <% if correction_badge && connected_user.is_a?(User) && commentaire.dossier_correction&.pending? %>
    <%= render Dsfr::AlertComponent.new(state: :warning, size: :sm, extra_class_names: 'fr-my-1w') do |c| %>
      <% c.with_body do %>
        <p>
          <strong><%= t('.alert_correction_title') %></strong>
          <br>
          <%= t('.alert_correction_description') %>
          <%= link_to t('.alert_correction_cta'), modifier_dossier_path(commentaire.dossier), class: 'fr-btn fr-btn--sm fr-my-1w' %>
        </p>
      <% end %>
    <% end %>
  <% end %>
</div>

<% if commentaire.sent_by?(connected_user) %>
  <div class="icon-avatar <%= commentaire_class(commentaire, connected_user) %>">
    <%= icon %>
  </div>
<% end %>
