<div class="padded-fixed-footer dossier-edit-footer">
  <div class="fixed-footer">
    <div class="fr-container">
      <div class="flex align-baseline justify-between no-flex-md">
        <%= render Dossiers::AutosaveFooterComponent.new(dossier: @dossier, annotation: annotation?, owner: owner?) %>

        <ul class="fr-btns-group fr-btns-group--inline-lg flex-no-shrink">
          <% if show_for_user? %>
            <% if show_submit? %>
              <% if !can_passer_en_construction? %>
                <li class="dossier-edit-footer--ineligibilite-link fr-mt-1w fr-mb-2w">
                  <%= link_to t('.submit_disabled'), "#", disabled_submit_button_options %>
                </li>
              <% end %>
              <li>
                <%= button_to submit_button_label, submit_button_path, submit_button_options %>
              </li>
            <% end %>
            <% if !owner? %>
              <li>
                <%= button_to t('.check_completude'), check_completude_dossier_path(@dossier), class: "fr-btn", method: :post, data: { controller: 'autosave-submit' } %>
              </li>
              <li>
                <%= button_to t('.notify_owner_for_changes'), notify_owner_for_changes_dossier_path(@dossier), class: "fr-btn fr-btn--secondary", method: :post, data: { confirm: t('.notify_owner_for_changes_alert'), controller: 'autosave-submit' } %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>

      <%= render partial: "shared/dossiers/submit_is_over", locals: { dossier: @dossier } %>
    </div>
  </div>
</div>
